Patterns

In [4]:
for i in range(1,6,1):
    for j in range(1,i+1,1):
        print(j,end=' ')
    print(' ')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [5]:
for i in range(1,6):
    for j in range(i,0,-1):
        print(j,end=' ')
    print("")

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [6]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j,end=' ')
    print("")

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [15]:
for i in range(1,6,1):
    for k in range(5,i,-1):
        print(' ',end=' ')
    for j in range(i,0,-1):
        print(j,end=' ')
    print(' ')

        1
      2 1
    3 2 1
  4 3 2 1
5 4 3 2 1

In [17]:
k=1
for i in range(1,6):
    for j in range(1,i+1):
        print(k,end=' ')
        k=k+1
    print(' ')

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [1]:
# improvised form of above pattern
k=1
for i in range(1,6):
    for j in range(1,i+1):
        if k/10>1:
            print(k,end=' ')
        else:    
            print(k,end='  ')
        k=k+1
        
    print(' ')

1
2  3
4  5  6
7  8  9  10
11 12 13 14 15

In [21]:
for i in range(1,5):
    for k in range(5,i,-1):
        print(' ',end=' ')
    for j in range(1,i+1):
        print(j,end=' ')
    for l in range(i-1,0,-1):
        print(l,end=' ')
    print(' ')

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1

In [59]:
ord("Z")

90

In [24]:
chr(100)

'd'

In [17]:
ord('A')

65

In [50]:
ord('B')

66

In [26]:
k=65
for i in range(1,7):
    for j in range(1,i+1):
        print(chr(k),end=' ')
        k+=1
    print(' ')

A
B C
D E F
G H I J
K L M N O
P Q R S T U